<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="container" role="main">
      <div class="header">
        <div class="index-logo-wrapper">
          <%# <div class="logo"></span> %>
          <img src="/images/indigo_logo_white.svg" class="main-logo">
        </div>

        <ul class="nav nav-pills">
          <li><%= link "Home", to: page_path(@conn, :index), class: active_class(@conn, page_path(@conn, :index))%></li>
          <li><%= link "Band", to: band_path(@conn, :index), class: active_class(@conn, band_path(@conn, :index))%></li>
          <li><%= link "Music", to: discography_path(@conn, :index), class: active_class(@conn, discography_path(@conn, :index))%></li>
        </ul>
      </div>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
