
html {
  background:url("/images/background.jpg") 0 0 no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 1.4em;
}

a {
  color: #ffffff;
}

.container {
  margin: 0 auto;
}

.header {
  text-align: center;
}

.logo {
  width: 100%;
  height: 100px;
  background-image: url('/images/indigo_logo_white.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.main-logo {
  width: 50%;
}

ul.nav {
  padding: 0;
}

ul.nav li {
  display: inline-block;
  padding: 0 10px 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

ul.nav li a{
  padding: 0 5px 10px;
  text-decoration: none;
  opacity: 0.8;
}

ul.nav li a:hover {
  border-bottom: solid 1px #ffffff;
  opacity: 1;
}

ul.nav li a.active {
  border-bottom: solid 1px #ffffff;
  opacity: 1;
}

ul.nav li a.active:hover  {
  border-bottom: solid 1px #ffffff;
  opacity: 1;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Index page */
.indigo-photo-wrapper {
  text-align: center;
}

.indigo-photo-wrapper img {
  width: 90%;
}

.store-logos {
  text-align: center;
}

.store-logos img:first-child {
  padding-left: 0;
}

.store-logos img {
  padding: 20px  0 20px 20px;
}


/* Index page */

/* Discography */

.disk-wrapper {
  margin-bottom: 50px;
}

.disk-wrapper h3 {
  padding-bottom: 2px;
  border-bottom: dotted 1px rgba(255,255,255, 0.3);
}

.row {
  display: table;
  overflow: hidden;
  width: 100%;
}

.cell {
  display: table-cell;
  display: inline-block;
  vertical-align: top;
}

/* cover cell */
.cells .cell:first-child{
  width: 43%;
}

/* tracks list cell */
.cells .cell:nth-child(2){
  width: 55%;
}

img.cover {
  width: 100%;
}


.disk-info a {
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
}

.cover img {
  margin: 0 auto;
  border: solid 1px #ffffff;
}

ol.tracks-list {
  margin: 0;
}

ol.tracks-list li {
}

span.duration {
  float: right;
}


.store-links {
  text-align: center;
}

.store-links a {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  border: solid 1px #ffffff;
  text-decoration: none;
}

.store-links a:hover {
  padding: 5px;
  border: solid 1px #ffffff;
  text-decoration: none;
  background: rgba(222, 222, 222, 0.5);
}
/* Discography*/

/* Band */
.social{
  margin-top: 50px;
  text-align: center;
}

.social img {
  width: 50px;
  margin-right: 30px;
  border: none;
}

/* Band */

/* ----------- iPhone 4 (4S) and 5(5S) ----------- */

/* Portrait and Landscape */
@media (min-width: 320px)
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .indigo-photo-wrapper img {
    width: 90%;
  }

  .store-logos img:first-child {
    padding-left: 20px;
  }


  .main-logo{
    width: 100%;
  }

  .cells .cell:first-child {
    width: 100%;
  }

  .cells .cell:nth-child(2) {
    width: 100%;
  }

}

/* Portrait */
@media (min-width: 320px)
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  html {
    -webkit-font-smoothing: antialiased;
  }

  .main-logo{
    width: 90%;
  }

  .cells .cell:first-child {
    width: 100%;
  }

  .cells .cell:nth-child(2) {
    width: 100%;
  }
}

/* Landscape */
@media (min-width: 320px)
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  .main-logo{
    width: 70%;
  }

  .cells .cell:first-child {
    width: 100%;
  }

  .cells .cell:nth-child(2) {
    width: 100%;
  }

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media(min-width: 414px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    img.cover {
      width: 70%;

    }

}

/* Portrait */
@media (min-width: 414px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .cover-wrapper {
      margin: 0 auto;
      text-align: center;
    }
    img.cover {
      width: 100%;

    }

    .cover-wrapper img {
    }
}

/* Landscape */
@media (min-width: 414px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */

}
