<div class="indigo-photo-wrapper">
<img src="/images/indigo-photo.jpg"/>
</div>
<div class="store-logos">
  <img src="/images/itunes.png" alt="iTunes logo" />
  <img src="/images/google_play.png" alt="Google Play logo"/>
  <img src="/images/amazon.png" alt="Amazon logo"/>
</div>
