<div class="indigo-photo-wrapper">
  <img src="/images/indigo-photo.jpg" alt="Band Indigo"/>
</div>
<div class="slogan-wrapper">
  <h1>Band Indigo &mdash; instrumental rock from Siberia</h1>
  <h2>Get our music on iTunes, Google play or Amazon.</h2>
</div>

<div class="store-logos">
  <img src="/images/itunes.png" alt="Available on iTunes" />
  <img src="/images/google_play.png" alt="Get it in Google Play"/>
  <img src="/images/amazon.png" alt="Available in Amazon"/>
</div>
